# Dependencies
node_modules
.pnpm-store

# Production build output
dist
build

# Environment files
.env
.env.local
.env.production
.env.development

# Editor & OS files
.DS_Store
Thumbs.db
.vscode
.idea
*.log
